@{
    ViewBag.Title = "Home Page";
}

<main class="container ">
    <section class="row" aria-labelledby="aspnetTitle">
       
    </section>

    @{
        Html.RenderAction("PartialList", "SanPhams_23TH0004", new {viewname= "_PartialList" });
    }
</main>